.fade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(300px);
  }

  &-enter-active,
  &-leave-active {
    transition: all 500ms ease;
  }

  &-enter-to,
  &-leave-from {
    transform: translateX(0px);
    opacity: 1;
  }

  &-move {
    transition: transform 500ms ease;
  }
}

.test {
  &-enter-from,
  &-leave-to {
    transform: translateX(300px);
  }

  &-enter-active,
  &-leave-active {
    transition: transform 1500ms ease;
  }

  &-leave-active {
    position: absolute;
  }

  &-enter-to,
  &-leave-from {
    transform: translateX(0);
  }

  &-move {
    transition: transform 500ms ease;
  }
}

.transition-move {
  transition: transform 500ms ease;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin-top: 10px;
}

.cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #aaa;
  margin-right: -1px;
  margin-bottom: -1px;
}

.cell:nth-child(3n) {
  margin-right: 0;
}

.cell:nth-child(27n) {
  margin-bottom: 0;
}

.cell-move {
  transition: transform 5s;
}
