.fade {
  &-enter-from,
  &-leave-to {
    // opacity: 0;
    transform: translateX(300px);
  }

  &-enter-active,
  &-leave-active {
    transition: all 5000ms ease;
  }

  &-leave-active {
    position: absolute;
  }

  &-enter-to,
  &-leave-from {
    transform: translateX(0px);
    // opacity: 1;
  }

  &-move {
    transition: transform 500ms ease;
  }
}

.fade-animation {
  &-enter-active {
    animation: rotate-in 500ms ease;
  }

  &-leave-active {
    animation: rotate-in 500ms ease reverse;
  }

  &-move {
    transition: transform 500ms ease;
  }
}

@keyframes rotate-in {
  0% {
    transform: scale(0) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.transition-move {
  transition: transform 500ms ease;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin-top: 10px;
}

.cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #aaa;
  margin-right: -1px;
  margin-bottom: -1px;
}

.cell:nth-child(3n) {
  margin-right: 0;
}

.cell:nth-child(27n) {
  margin-bottom: 0;
}

.cell-move {
  transition: transform 2s;
}

.anim-leave-to,
.anim-enter-from {
  opacity: 0;
}

.anim-enter-active {
  animation: enter 50ms ease 1;
}

.anim-leave-active {
  animation: leave 50ms ease 1 reverse;
}

.anim-leave-from,
.anim-enter-to {
  opacity: 1;
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes leave {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
