.greeting {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active {
    transition: opacity 500ms ease;
  }

  &-leave-active {
    transition: opacity 700ms ease;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
}

.transition-move {
  transition: transform 300ms ease;
}
